PORT=3100 #port
NEXTAUTH_URL="http://localhost:3100"
NEXT_PUBLIC_NEXTAUTH_URL="http://localhost:3100"
NEXT_PUBLIC_BASE_URL="http://localhost:3100"
# for docker
NEXT_PUBLIC_API_URL="http://server:3900/api/v1"  # for internal service access
NEXT_PUBLIC_BASE_API_URL="http://server:3900"
NEXT_PUBLIC_BASE_API_CLIENT_URL="http://localhost:3900"

NEXTAUTH_SECRET=""

AUTH_SECRET=''
JWT_EXPIRES="24"

# google credential
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# facebook credential
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
