
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3900/api/v1"
NEXT_PUBLIC_BASE_API_URL="http://localhost:3900"
NEXTAUTH_SECRET="ecommerce-application"

AUTH_SECRET='AwZLoFadutg7Efmiz5OhAGEzZOSsVQOySI8eTBarztM'
JWT_EXPIRES="24"

# google credential
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# facebook credential
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

