NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3900"
NEXTAUTH_SECRET="ecommerce-application"

AUTH_SECRET='AwZLoFadutg7Efmiz5OhAGEzZOSsVQOySI8eTBarztM'
JWT_EXPIRES="24"

# google credential
GOOGLE_CLIENT_ID=886468724382-rgh60k9u2tpd125mp9bjp7n8bghvd9pj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# facebook credential
FACEBOOK_CLIENT_ID=1240629737079883
FACEBOOK_CLIENT_SECRET=130713da4114fdbbec1e74d0804b74d2
