@tailwind base;
@tailwind components;
@tailwind utilities;

/*global font*/
body {
  /* font-family: var(--font-urbanist); */
  font-family: var(--font-poppins);
}

.tobar {
  @apply min-h-[60px] text-global-size-p;
}

.menubar {
  @apply min-h-[80px];
}

.hero-section {
  @apply min-h-[vh80];
}

/* Global section */
.section-spacing {
  @apply py-24;
}

/* page title */
.page-title {
  @apply text-global-size-h1 p-0 m-0 font-bold leading-[80px];
}


/* @apply mobile-landscape:text-3xl; Mobile landscape 
@apply md:text-4xl;  Tablet 
@apply lg:text-5xl;  Laptop 
@apply xl:text-6xl;  Desktop  */

/* Global responsive heading */
.section-heading {
  @apply text-global-size-h3 p-0 m-0 font-semibold leading-[52px];
}

/* Global styles */
.global-btn-primary {
  @apply bg-[#000000] text-white text-global-size-p font-semibold py-3 px-4 rounded hover:bg-global-primary;
}

/* .antd-btn {
  @apply hover:!bg-red !text-2xl !bg-black !text-white !border-none self-end !py-6 font-bold;
} */

.card-title {
  @apply text-global-size-h5 p-0 m-0 font-semibold leading-[38px];
}





/* 1. Mobile devices (default mobile-first approach) */
@media (max-width: 639px) {

  .menu-first-child {
    padding-left: 32 !important;
  }
}

/* 2. Small to medium devices (tablets and small laptops) */
@media (min-width: 640px) and (max-width: 767px) {
}

/* 3. Larger tablets, laptops, and desktops */
@media (min-width: 768px) and (max-width: 1023px) {
  .ant-menu-item:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: transparent !important;
    transition: background-color 0.3s ease;
  }

  .ant-menu-item:first-child:hover::after {
    left: 0 !important;
    width: 100%;
  }
  .menu-first-child {
    padding-left: 100 !important;
  }
}

/* 4. Large desktops */
@media (min-width: 1024px) {
  .menu-first-child {
    padding-left: 0 !important;
  }
  .mega-menu-tp {
    margin-top: -3% !important;
  }
}

/* 5. Extra large screens (very large desktop monitors) */
@media (min-width: 1280px) {
  .menu-first-child {
    padding-left: 0 !important;
  }
  .mega-menu-tp {
    margin-top: -3% !important;
  }
}

@media (min-width: 1430px) {
  .menu-first-child {
    padding-left: 0 !important;
  }
  .mega-menu-tp {
    margin-top: -3% !important;
  }
}
