@import "tailwindcss";



/* View Transition Animations (keep this outside Tailwind) */
::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.4s ease both;
}

/* Define fade animation */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*global font*/
body {
  /* font-family: var(--font-urbanist); */
  font-family: var(--font-poppins);
}

/* .tobar {
  @apply min-h-[60px] text-global-size-p;
} */

.menubar {
  min-height: 80px;
}

.hero-section {
  min-height: 80vh;
}

.highlighted-row {
  background-color: #f0f9ff; /* Light blue for highlighted rows */
  cursor: pointer;
}

.normal-row {
  background-color: #ffffff; /* Default white background */
  cursor: pointer;
}



/* 1. Mobile devices (default mobile-first approach) */
@media (max-width: 639px) {

  .menu-first-child {
    padding-left: 32 !important;
  }
}

/* 2. Small to medium devices (tablets and small laptops) */
@media (min-width: 640px) and (max-width: 767px) {
}

/* 3. Larger tablets, laptops, and desktops */
@media (min-width: 768px) and (max-width: 1023px) {
  .ant-menu-item:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: transparent !important;
    transition: background-color 0.3s ease;
  }

  .ant-menu-item:first-child:hover::after {
    left: 0 !important;
    width: 100%;
  }
  .menu-first-child {
    padding-left: 100 !important;
  }
}

/* 4. Large desktops */
@media (min-width: 1024px) {
  .menu-first-child {
    padding-left: 0 !important;
  }
  .mega-menu-tp {
    margin-top: -3% !important;
  }
}

/* 5. Extra large screens (very large desktop monitors) */
@media (min-width: 1280px) {
  .menu-first-child {
    padding-left: 0 !important;
  }
  .mega-menu-tp {
    margin-top: -3% !important;
  }
}

@media (min-width: 1430px) {
  .menu-first-child {
    padding-left: 0 !important;
  }
  .mega-menu-tp {
    margin-top: -3% !important;
  }
}



