.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 300px;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f";
}
.header {
  background-color: yellowgreen;
  /* grid-column: 1 / -1; */
  grid-area: h;
}
.menu {
  background-color: red;
  /* grid-row: 2 / 3; */
  grid-area: m;
}
.content {
  background-color: aqua;
  /* grid-column: 2 /-1; */
  grid-area: c;
}

.footer {
  background-color: bisque;
  /* grid-column: 1 /-1; */
  grid-area: f;
}
