NODE_ENV='development'
PORT=3900
APP_NAME="ecommerce-application"
FRONT_END_URL="http://localhost:3100"
BACK_END_URL="http://localhost:3900/api/v1"

# postgresql database env
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=1995
# DB_DATABASE=ecommerce_db


# postgresql database env for docker
DB_TYPE=postgres
DB_HOST=postgres_db
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=gowtampaul1995@
DB_DATABASE=ecommerce_db

# AUTH_SECRET='AwZLoFadutg7Efmiz5OhAGEzZOSsVQOySI8eTBarztM'
# COOKIE_NAME="access_token"
# JWT_SECRET="arkopaul2022"
# JWT_EXPIRES="1d"


# AUTH=true
# SSL=true
JWT_SECRET='ecommerce-application'
JWT_EXPIRES="24"
RESET_SECRET='AwZLoFadutg7Efmiz5OhAGEzZOSsVQOySI8eTBarztM'
REST_EXPIRESIN="10m"
COOKIE_NAME="accessToken"
COOKIE_EXPIRES=7
# UPLOAD_PATH='public/uploads',
MAX_FILE_UPLOAD=50

# ## SSLCommerzPayment
STORE_ID = "ecomm6648b03fa5d37"
STORE_PASSWD = "ecomm6648b03fa5d37@ssl"
IS_LIVE = false; ## true for live, false for sandbox

# google credential
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# mail
MAIL_HOST='smtp.gmail.com'
MAIL_PORT=465
MAIL_USERNAME=gowtampaul0@gmail.com
#this is mail app password
MAIL_PASSWORD=hqxo jmga erqb kcfn
MAIL_FROM_NAME="gowtampaul0@gmail.com"
MAIL_FROM_ADDRESS=gowtampaul0@gmail.com